<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--meta http-equiv="X-UA-Compatible" content="IE=edge" /-->
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maruti-style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
    <link rel="stylesheet" href="static/css/style1.css" />
    <link rel="stylesheet" href="static/css/adminlte.min.css" />
    <link rel="stylesheet" href="static/css/maruti-style.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/bootstrap-responsive.min.css" />
  
    <title>
      ReFLeX App Store
    </title>
    
    
    
  </head>

  <body class="lp-custom-row">
    <!-- ============================================================== -->
    <!-- Main wrapper -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Header part -->
      <!-- ============================================================== -->
      <header></header>
      <!-- ============================================================== -->
      <!-- Header part -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Page wrapper part -->
      <!-- ============================================================== -->
      <div class="content-wrapper">
        <!-- ============================================================== -->
        <!-- Demos part -->
        <!-- ============================================================== -->
        <section class="spacer bg-light">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-9 text-center">
                <h2 class="text-dark">ReFLeX App Store</h2>
              </div>
            </div>                      
          </div>              
        </section>       
      </div>
     

      <!-- Botão para abrir o modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#customModal">
        Abrir Modal
      </button>

              <!-- Modal -->
        <div class="modal fade" id="customModal" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
          <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="customModalLabel">Modal com Scroll</h5>                             
              </div>
              <div class="modal-body">
                <div id="content">
                  <div class="container-fluid">
                    {% for category, category_services in services | groupby(attribute="categories") %}
                      <div class="row-fluid">         
                        <h5>{{ category }}</h5>
                            {% for service in category_services %}
                              <div class="span3">
                                {% if category == "Core Context Management" %}
                                <div class="widget-box info-box shadow card card-primary card-outline">
                                {% elif category == "Context Data/API Management, Publication and Monetization" %}
                                <div class="widget-box info-box shadow card card-secondary card-outline">
                                {% elif category == "Context Processing, Analysis and Visualisation" %}
                                <div class="widget-box info-box shadow card card-info card-outline">
                                {% elif category == "Interface with IoT, Robots and Third-Party Systems" %}
                                <div class="widget-box info-box shadow card card-warning card-outline">
                                {% elif category == "External Third-party Components" %}
                                <div class="widget-box info-box shadow card card-danger card-outline">
                                {% endif %}
                                  <div class="widget-content info-box-content card-body">
                                    <span class="info-box-icon"><img src={{ service.icon }}></span>
                                    <small><strong>{{ service.name1 }}</strong>
                                      <p class="textoCard">{{ service.short_desc }}</p>
                                      <!--p class="textoCard"> {{ service.function }} </p--> 
                                    </small>                  
                                    {% if category == "Core Context Management" %}
                                      <!--button class="btn btn-primary badge text-bg-primary btn-sm">Install</button-->
                                    {% elif category == "Context Data/API Management, Publication and Monetization" %}
                                      <!--button class="btn btn-secondary badge text-bg-secondary btn-sm">Install</button-->
                                    {% elif category == "Context Processing, Analysis and Visualisation" %}
                                      <!--button class="btn btn-info badge text-bg-info btn-sm">Install</button-->
                                    {% elif category == "Interface with IoT, Robots and Third-Party Systems" %}
                                      <!--button class="btn btn-warning badge text-bg-warning btn-sm">Install</button-->
                                    {% elif category == "External Third-party Components" %}
                                      <!--button class="btn btn-danger badge text-bg-danger btn-sm">Install</button-->
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            {% endfor %} 
                      </div>
                    {% endfor %}
                  </div>
                </div> 
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
    


    <!--div id="content">
      <div class="container-fluid">
        {% for category, category_services in services | groupby(attribute="categories") %}
          <div class="row-fluid">         
            <h5>{{ category }}</h5>
                {% for service in category_services %}
                  <div class="span3">
                    {% if category == "Core Context Management" %}
                      <div class="widget-box info-box shadow card card-primary card-outline">
                    {% elif category == "Context Data/API Management, Publication and Monetization" %}
                      <div class="widget-box info-box shadow card card-secondary card-outline">
                    {% elif category == "Context Processing, Analysis and Visualisation" %}
                      <div class="widget-box info-box shadow card card-info card-outline">
                    {% elif category == "Interface with IoT, Robots and Third-Party Systems" %}
                      <div class="widget-box info-box shadow card card-warning card-outline">
                    {% elif category == "External Third-party Components" %}
                      <div class="widget-box info-box shadow card card-danger card-outline">
                    {% endif %}
              
                        <div class="widget-content info-box-content card-body">
                          <span class="info-box-icon"><img src={{ service.icon }}></span>
                          <small><strong>{{ service.name1 }}</strong>
                            <p class="textoCard">{{ service.short_desc }}</p>
                            <p class="textoCard"> {{ service.function }} </p> 
                          </small-->                  
                          {% if category == "Core Context Management" %}
                            <!--button class="btn btn-primary badge text-bg-primary btn-sm">Install</button-->
                          {% elif category == "Context Data/API Management, Publication and Monetization" %}
                            <!--button class="btn btn-secondary badge text-bg-secondary btn-sm">Install</button-->
                          {% elif category == "Context Processing, Analysis and Visualisation" %}
                            <!--button class="btn btn-info badge text-bg-info btn-sm">Install</button-->
                          {% elif category == "Interface with IoT, Robots and Third-Party Systems" %}
                            <!--button class="btn btn-warning badge text-bg-warning btn-sm">Install</button-->
                          {% elif category == "External Third-party Components" %}
                            <!--button class="btn btn-danger badge text-bg-danger btn-sm">Install</button-->
                          {% endif %}
                        <!--/div>
                      </div>
                  </div>
                {% endfor %} 
          </div>
        {% endfor %}
      </div>

      
    </div-->  



 <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/maruti.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  
  <script src="static/js/adminlte.min.js"></script>
  <script src="static/js/maruti.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  
  
  <script>
    $("a.btn-free").on("click", function (event) {
      var $anchor = $(this);
      $("html, body")
        .stop()
        .animate(
          {
            scrollTop: $($anchor.attr("href")).offset().top - 10,
          },
          1000
        );
      event.preventDefault();
    });
  </script>

</body>
</html>
